global
  # Run as daemon, since we use supervisor to monitor it
  daemon
  user root
  group root
  maxconn 2048
  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
  mode http
  timeout connect 5000
  timeout client 50000
  timeout server 50000
  option forwardfor

frontend ssl-proxy
  bind *:443 ssl crt /usr/local/etc/haproxy/server.pem
  reqadd X-Forwarded-Proto:\ https
  default_backend backend-server

backend backend-server
  server backend backend:3000 check
